body{
    font-family: $font;
    font-size: 12px;
}

*, *:before, *:after{
    font: inherit
}

button{
    cursor: pointer;
    padding: 0;
}

html, body, #root, .App{
    min-height: 100%;
    height: 100%;
}

.App{
    display: flex;
    flex-direction: column;
}

.page{
    flex: auto;
    height: 100%;
    padding-top: 65px;
}


.mm{
    &__btn{
        &-close{
            line-height: 0;
            outline: none;
            
            svg{
                width: 15px;
                fill: $danger;
            }
        }
    }
}