@import "./page.message.sidebar.scss";
@import "./page.message.chat.scss";

.PageMessage{

    display: flex;


    &-content{
        flex: 1;
    }

    &-sidebar{

    }

    &-home{
        height: 100%;
        .welcome{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: 600;
        }
    }


}