
// FONTS

$font: 'Lato', 'sans-serif';


// COLORS

$purple-lighter2: #6155b9;
$purple-lighter: #453d85;
$purple: #42378b;
$purple-darker: #2e2675;

$light: #eceff3;
$light2: #dadada;
$light3: #bababa;

$success-lighter: #2ecc71;
$success: #2ecc71;
$success-darker: #27ae60;


$danger-lighter: #2ecc71;
$danger: #e74c3c;
$danger-darker: #c0392b;

$blue: #2483f3;



// SHAPES

$radius: 4px;
$radius2: 8px;
$rounded: 5em;


// COMPONENTS
$avatar_size: 35px;

// TRANSITIONS

$ease: ease-out;

$duration: 200ms;
$duration2: 400ms;
$duration3: 600ms;

